<style>
  .container {
    max-width: 63rem;
    height: 100vh;
    padding: 6%;
  }

  .container .header {
    width: 100%;
    height: 9rem;
    background-color: #232136;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container .header h3 {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.3rem;
  }

  p,
  label {
    letter-spacing: 0.2rem;
  }

  @media (min-width: 416px) {
    .container .header {
      height: 13rem;
    }

    .container .header h3 {
      font-size: 1.9rem;
    }
  }
</style>

<div class="container">
  <header class="header">
    <h3>Agendar Evento {{customerEvent}}</h3>
  </header>
  <br>
  <label>Nome do cliente: <strong>{{name}}</strong></label>
  <p>Email: {{email}}</p>
  <p>Telefone: {{phoneNumber}}</p>
  <p>Data que pretende realizar o evento  <strong>{{date}}</strong></p>
</div>
